<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rutong.warehouse.persistence.ICooperateMapper">
    <insert id="addCooperate">
        INSERT INTO cooperate_people (guid, name, imageurl, sortnum, url) VALUES (
            #{guid},
            #{name},
            #{imageurl},
            #{sortnum},
            #{url}
        )
    </insert>
    <update id="changeCooperate">
        UPDATE cooperate_people
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="imageurl != null and imageurl != ''">
                imageurl = #{imageurl},
            </if>
            <if test="sortnum != null">
                sortnum = #{sortnum},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
        </set>
        where guid = #{guid}
    </update>
    <delete id="delCooperate">
        DELETE FROM cooperate_people WHERE guid = #{guid}
    </delete>

    <select id="searchCooperateList" resultType="com.rutong.warehouse.domain.CooperatePeople">
        SELECT
            guid,
            name,
            imageurl,
            sortnum,
            url
        FROM cooperate_people
        <where>
            <if test="name != null and name != ''">
                name like '%'||#{name}||'%'
            </if>
        </where>
        ORDER BY sortnum
    </select>
    <select id="searchCooperate" resultType="com.rutong.warehouse.domain.CooperatePeople">
        SELECT
            guid,
            name,
            imageurl,
            sortnum,
            url
        FROM cooperate_people
        WHERE guid = #{guid}
    </select>
</mapper>
